<div style="overflow:hidden; width:100%">
    <table cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td colspan="2">
                <app-header></app-header>
            </td>
        </tr>
        <tr>
            <td style="width:200px">
                <app-menu></app-menu>
            </td>
            <td>
                <router-outlet></router-outlet>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <app-footer></app-footer>
            </td>
        </tr>
    </table>
</div>